<% if !cookies[:username]%>
   <h3>You must be logged in to view this page <%=link_to "Main page to log-in",root_path %></h3>
<% else %>

<div class="container">
	 
   <div class="page-header page-header-bolder">
    <div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 <h3 class="user-names">Project:</h3> <%= @project.title  %>
		  </div>
	   </div><!-- class="row"-->
    </div><!-- class="page-header page-header-bolder" -->

    <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a href=<%= "/users/#{cookies[:id]}" %>><span aria-hidden="true">&larr;</span> User Page</a></li>
    </ul>
    </nav>



    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Status:</h4> 
        <p><%= @project.status %></p>
      </div>
   </div><!-- class="row"-->
   
    <div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		<h4>Description:</h4> 
        <p><%= @project.description %></p>
    	</div>
	 </div><!-- class="row"-->

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="activity-status">
      </div>
   </div><!-- class="row"-->

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="center"><button type="button" class="btn btn-info btn-lg" onclick="startActivity(<%= User.find_by(:username => cookies[:username]).id %>,<%= @project.id %>)">Start Activity</button>     - | -     <button id="stop-activity-btn" type="button" class="btn btn-warning btn-lg" onclick="stopActivity()">Stop Activity</button></p>
      </div>
   </div><!-- class="row"-->

 </div><!-- div class="container" -->
<% end %>